input{
	cursor:pointer;
}

p input[type='text']{
	background: none;
	border:none;
	border-bottom: 1px solid #fff;
	color:#fff;
	padding: 20px;
	width:90%;
	font-size:14px;
	font-family: "Geometric";
}
input[type='password']{
	background: none;
	border:none;
	border-bottom: 1px solid #fff;
	color:#fff;
	padding: 20px;
	width:90%;
	font-size:14px;
	font-family: "Geometric";
}

input[type='submit']{
	color:#fff;
	padding: 15px 30% 15px 30% ;
	width:90%;
	font-size:20px;
	background: #F1372E;
	border: none;
	color:#fff;
	margin-top: 50px;
	font-family: "Geometric";
	cursor: pointer;
}
input[type='submit']:hover{
	background: #F1675F;
}

input[type='checkbox'] + .checkboxLabel::before{
	content: '';
	background: #131514;
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	padding: 2px;
	margin-right: 10px;
	text-align: center;


}
input[type='checkbox']:checked + .checkboxLabel::before{
	content: "\2713";
	font-family: 'FontAwesome';
	color: #fff;
	font-size: 10px;
	line-height: 1;
}


input[type='radio'] + .radioLabel::before{
	content: '';
	border: 1px solid #6B6868;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	padding: 2px;
	margin-right: 10px;
	text-align: center;


}
input[type='radio']:checked + .radioLabel::before{
	background-image:url("/backgroundFromRadio.png");
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 40%;
	border: 2px solid #F1372E;
	font-family: 'FontAwesome';
	color: #fff;
	font-size: 10px;
	/*border: 2px solid #fff;*/
	line-height: 1;
}




.inputPack{
	overflow:hidden;
}
.inputPack input:nth-child(1){
	background: none;
	border:none;
	border-bottom: 1px solid #fff;
	color:#fff;
	width:40%;
	padding:20px 0 20px 20px;
	float:right;
	font-size:14px;
	font-family: "Geometric";
}
.inputPack input:nth-child(2){
	background: none;
	border:none;
	border-bottom: 1px solid #fff;
	color:#fff;
	width:40%;
	padding:20px 0 20px 20px;
	float:left;
	font-size:14px;
	font-family: "Geometric";
}