.jChat{
	margin:2em 0;
	min-width: 1136px;
}
.chat-contacts, .chat-wrap, .chatNav{
	display: inline-block;
	vertical-align: top;
}
.chatNav{
	width: 250px;
	margin: 0 2em 0 0;
	float: left;
}
.chatNav div{
	width: 100%;
	padding: 1em;
	background: rgba(0,0,0, 0.7);
	cursor: pointer;
	margin: 1em 0;
}
.chatNav div p{
	color: #fff;
	transition: .2s;
	font-size: 22px;
}
.chatNav div p:hover{
	color: green;
}
.chat-wrap{
	margin: 1em 1em;
	background: rgba(197, 190, 190, 0.7);
	width: 50%;
}
.chat-title{
	padding: 1em 2em;
	background: rgba(0,0,0, 0.85);
}
.chat-title p{
	margin: 0;
	text-align: left;
	line-height: 2;
	font-size: 18px;
}
.chat-name{
	color: #fff;
}
.chat-status-on{
	color: green;
}
.chat-status-off{
	color: #878787;
}
.mess-area{
    display: inline-block;
    padding: 3em;
    width: 86%;
    height: 200px;
    overflow: auto;
}
.subscripeMessArea{
}
.mess{
	width: 100%;
	display:block;
	margin: 0 0em 1em;
}
.left-mess{
	background: #fff;
	border-radius: 7px;
	padding: 5px 10px;
	min-width: 70px;
	max-width: 350px;
	display: inline-block;
	text-align: left;
}
.left-mess p{
	margin: 0;
}
.right-mess{
	background: #90719c;
	border-radius: 7px;
	padding: 5px 10px;
	min-width: 70px;
	max-width: 350px;
	display: inline-block;
	text-align: left;
}
.right-mess p{
	margin: 0;
}
.send-mess{
	padding: 0 1em;
	margin: 1em 0 2em;
}
.send-mess textarea{
	resize: none;
	width: 80%;
	height: 2.5em;
	border-radius: 7px;
	border:none;
	vertical-align: bottom;
	padding: 5px 10px;
	position: relative;
	z-index: 2;
}
.send-mess img{
	width: 30px;
	cursor: pointer;
	margin: 0 5px;
}
.send-mess span{
	position: relative;
	display: inline-block;
}
.send-mess span input[type = file]{
	position: absolute;
	width: 30px;
	height: 35px;
	opacity: 0;
}
.chat-contacts{
	margin: 1em 0;
	float: right;
	width: 250px;
	background: rgba(0,0,0, 0.4);
}
.chat-contacts--title p{
	line-height: 2;
	font-size: 22px;
	color: #fff;
	background: rgba(0,0,0, 0.4);
	padding: 1em;
	margin:0;
}
.contacts-list p{
	color: #fff;
	font-size: 18px;
	text-align: left;
	line-height: 1.5;
	padding: 0 1em;
}
.contact-status{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	display: inline-block;
	margin: 0 7px;
}
.status-on{
	background: green;
}
.status-off{
	background: #878787;
}

.dispatch{
	width: 50%;
	vertical-align: middle;
}
.va-m{
	vertical-align: middle;
}
.jD-blocks{
	text-align: center;
}
.jD-block{
	display: inline-block;
	vertical-align: top;
	width: 42%;
	margin: 1em;
}
.block-mess{
	width: 100%;
}
.block-mess--title{
	padding: 10px;
	font-size: 16px;
	color: #fff;
	line-height: 2;
	background: rgba(0,0,0, 0.7);
	/*width: 100%;*/
}
.block-mess--title p{
	margin: 0;
}
.block-mess textarea{
	width: 93%;
	resize: none;
	height: 280px;
	overflow: auto;
	background: rgba(84, 84, 84, 0.65);
	border: none;
	padding: 10px;
}
.mess-contacts{
	width: 93%;
	resize: none;
	overflow: auto;
	background: rgba(84, 84, 84, 0.65);
	border: none;
	padding: 10px;
	text-align: left;
}
.mess-contacts p{
	margin: 2em 0;
}
.mess-contacts span{
	color: #fff;
	font-size: 14px;
	line-height: 2;
	margin: 0 0 0 1em;
}
.mr-1{
	margin: 1em 0;
}
.mess-contacts--block{
	height: 121px;
	overflow: auto;
}
.block-add-file{
	padding: 10px;
	background: rgba(0,0,0, 0.7);
	/*width: 100%;*/
	text-align: center;
	margin: 1em 0;
}
.block-add-file img{
	width: 25px;
	vertical-align: middle;
	margin: 0 10px;
}
.block-add-file p{
	margin:0;
	font-size: 15px;
	color: #fff;
}
.block-add-file input[type=file]{
	position: absolute;
	opacity: 0;
}
.mr-0{
	margin-right: 0;
	margin-left: -4px;
}
.dBlock-p{
	color: #fff;
	line-height: 2;
	font-size: 14px;
	margin:0;
}
.dBlock{
	min-height: 200px;
}
.dBlock-btn{
	text-align: center;
}
.dBlock-btn button{
	border: none;
	background: #ea8f39;
	border-radius: 2px;
	padding: 10px;
	margin: 1em;
	color: #fff;
}