<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="autorizationContent content" style="background-image: url('img/backgroundFromAutorization.jpg');">
	<div class="navigation">
		
		
	</div>
	<form>
		<h1>ДОБРО ПОЖАЛОВАТЬ!</h1>
		<p><input type="text" placeholder="Адрес электронной почты"></p>
		<p><input type="password" placeholder="Пароль"></p>
		<p class="parPack"><input class="hidden" type="checkbox" id="sistems" ><label class="checkboxLabel" for="sistems">Оставаться в системе</label><span class="link">Забыли пароль?</span></p>
		<p class="parSubmit"><input class="jmauth" type="submit" value="Войти"></p>
		<p class="parPack">Ещё не зарегистрированы? <span class="jmlink link">Присоединяйтесь</span></p>
	</form>
</div>	
</body>
</html>
