<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="staticJs/dataOut.js"></script>
	<script src="staticJs/location.js"></script>
	<script src="staticJs/navigation.js"></script>
	<script src="staticJs/common.js"></script>
	<script src="staticJs/submits.js"></script>
	<link rel="stylesheet" href="css/style.css">

</head>
<body>	
<!-- <input value="registration" type="button" data-page="registration" data-pageId="5" class="href registration">
<input value="autorization" type="button" data-page="autorization" data-pageId="5" class="href autorization"> -->

<div class="main"></div >
</body>
</html>