<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="registrationContent content" style="background-image: url('img/backgroundFromAutorization.jpg');">
	<div class="navigation">
		
		
	</div>
	<form>
		<h1>СОЗДАЙТЕ СВОЙ АККАУНТ</h1>
		<div class="progressBar tac">
			<div class="steps stepOne active">1</div>
			<div class="steps stepTwo" style="visibility: hidden;">2</div>
			<div class="steps stepThree">2</div>
			<hr>
		</div>
		<p><input type="text" placeholder="Логин"></p>
		<p><input type="password" placeholder="Пароль"></p>
		<div class="inputPack">
			<input class="jmCancel1" type="button" value="Отмена">
			<input class="jmSave1" type="button" value="Сохранить">
		</div>
	</form>

	<form style='display: none;'>
		<h1>СОЗДАЙТЕ СВОЙ АККАУНТ</h1>
		<div class="progressBar tac">
			<div class="steps stepOne ">1</div>
			<div class="steps stepTwo hidden" style="visibility: hidden;">2</div>
			<div class="steps stepThree active">2</div>
			<hr>
		</div>
		<p><input type="text" placeholder="Наименование компании"></p>
		<p><input type="text" placeholder="Адрес"></p>
		<p><input type="text" placeholder="Телефон"></p>
		<div class="inputPack">
			<input class="jmCancel2" type="button" value="Отмена">
			<input class="jmSave2" type="button" value="Сохранить">
		</div>
	</form>	
</div>	
</body>
</html>
