<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="registrationContent content" style="background-image: url('img/backgroundFromAutorization.jpg');">
	<div class="navigation">
		
		
	</div>
	<form >
		<h1>СОЗДАЙТЕ СВОЙ АККАУНТ</h1>
		<div class="progressBar tac">
			<div class="steps stepOne active">1</div>
			<div class="steps stepTwo" style="visibility: hidden;">2</div>
			<div class="steps stepThree">2</div>
			<hr>
		</div>
		<p><input type="text" data-input='name' class="reqInput" placeholder="Имя"></p>
		<p><input type="text" data-input='surname' class="reqInput" placeholder="Фамилия"></p>
		<p><input type="text" data-input='phone' class="reqInput" placeholder="Телефон"></p>
		<div class="inputPack">
			<input type="button" class="href" data-page="autorization" value="Отмена">
			<input type="button" class="nextStep" value="Далее">
		</div>
	</form>
	<form style='display: none;'>
		<h1>СОЗДАЙТЕ СВОЙ АККАУНТ</h1>
		<div class="progressBar tac margin">
			<div class="steps stepOne ">1</div>
			<div class="steps stepTwo active" style="visibility: hidden;">2</div>
			<div class="steps stepThree active">2</div>
			<hr>
		</div>
		<p><input type="text" data-input='telega' class='reqInput' placeholder="Телеграм"></p>
		<p><input type="password" data-input='password' class='reqInput' placeholder="Пароль"></p>
		<p class='margin'>
			<span>Пол: </span>
			<span class="radioPack">
				<input type="radio" data-input='pol'  checked class="hidden" id="radio" name="pol" value="m"><label class="radioLabel" for="radio"> Мужской</label> 
				<input type="radio" data-input='pol' class="hidden" id="radio1" name="pol" value="w"><label class="radioLabel" for="radio1"> Женский</label> 
			</span>

		</p>	
		<p class='margin'>
			<span>Дата рождение: </span>
			<span>
				<input type="date" data-input='date' class='reqInput'>
			</span>
		</p>			
		<div class="inputPack">
			<input type="button" class="prevStep" value="Назад">
			<input type="button" class="save" value="Сохранить">
		</div>
	</form>	
</div>	
</body>
</html>
