.contentAdmin{
	min-height: calc(100vh - 100px);
	width: 100%;
	height: 100%;
	padding-top: 100px;
	overflow: hidden;
}
.contentAdmin .centerBlockBaseInformation{
	margin-left:150px;
}
.contentAdmin .centerBlockBaseInformation .header{
	background: rgba(0,0,0,0.8);
	margin-top: 50px;
	padding-left: 20px;
}
.contentAdmin .centerBlockBaseInformation .header h2{
	float:left;
	margin-right: 20px;
	color:white;
	font-size: 23px;
	cursor: pointer;
}
.contentAdmin .centerBlockBaseInformation .header h2.active{
	color:var(--active);
	border-bottom: 4px solid var(--active);
	height:70%;
}


.contentAdmin .centerBlockBaseInformation .infoPers{
	margin:50px;
	min-height:250px;
	overflow: hidden;
}

.contentAdmin .centerBlockBaseInformation .infoPers .ava{
	width:30%;
	float:left;
	height:250px;
}
.contentAdmin .centerBlockBaseInformation .infoPers .ava .deleteButton{
	width:60%;
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}
.contentAdmin .centerBlockBaseInformation .infoPers .ava .editButton{
	width:60%;
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}
.contentAdmin .centerBlockBaseInformation .infoPers .ava .img{
	height:100%;
	background: #fff;
	background-image: url(../img/avatar.png);
	-webkit-background-size: cover;
	background-size: 60% 100%;
	background-repeat: no-repeat;
	background-position: center;

}



.contentAdmin .centerBlockBaseInformation .infoPers .main{
	float:right;
	width:70%;
	overflow: hidden;
}
.contentAdmin .centerBlockBaseInformation .infoPers .main .header{
	margin-top: 0;
}
.contentAdmin .centerBlockBaseInformation .infoPers .success{
	float:right;
	margin-top: 20px;
	margin-right: 20px;
	font-size: 14px;
}
.contentAdmin .centerBlockBaseInformation .infoPers .success img{
	float:left;
	margin-top: 15px;
	margin-right: 5px;
}
.contentAdmin .centerBlockBaseInformation .infoPers .success p{
	color:rgb(130,130,130);
	font-weight: bold;
	font-size:15px;
	margin: 0;
	margin-top: 10px;
	float:right;
}
.contentAdmin .centerBlockBaseInformation .infoPers .main .content{
	min-height:170px;
	background: rgba(130,130,130,0.8);
	position: relative;
	overflow: hidden;
	color:white;
}
.contentAdmin .centerBlockBaseInformation .infoPers .main .content table{
	width:90%;
	margin: 30px;
}
.contentAdmin .centerBlockBaseInformation .infoPers .main .content tr td:nth-child(1){
	color:#000;
}
.contentAdmin .centerBlockBaseInformation .infoPers .main .content tr td:nth-child(2){
	text-align: right;
}
.contentAdmin .centerBlockBaseInformation .infoPers .main .content .infoContent{
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	margin: 50px;
	margin-bottom: 0;
}
.contentAdmin .centerBlockBaseInformation .infoPers .main .content .reveal{
	background-image: url(/show.svg);
	-webkit-background-size: 100% 50%;
	background-size: 100% 50%;
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	position: absolute;
	margin: auto;
	left:0;
	right:0;
	bottom:0;
	cursor:pointer;
}


.contentAdmin .blockBaseInformation{
	width:35%;
	min-height:500px;
	position: relative;
	text-align: center;
	position: relative;
}
.contentAdmin .blockBaseInformation .subscripeObjects{
	overflow: hidden;
	margin-bottom: 50px;
	padding-bottom: 20px;
	padding-left: 10px;
}
.contentAdmin .blockBaseInformation .object{
	background: rgba(130,130,130,0.8);
	width:47%;
	float:left;
	margin-right: 10px;
	margin-top: 20px;
	font-weight: bold;
	cursor: pointer;
}
.contentAdmin .blockBaseInformation .object:hover{
	outline:1px solid var(--active);
	color:var(--active);
}
.contentAdmin .blockBaseInformation .object.active{
	outline:1px solid var(--active);
}
.contentAdmin .blockBaseInformation .object.active p{
	color:var(--active);
}
.contentAdmin .blockBaseInformation .object .choiseCircle{
	float:right;
	border: 3px solid #000;
	width:30px;
	height:30px;
	border-radius:30px;
	margin-top: 10px;
	margin-right: 20px;
}
.contentAdmin .blockBaseInformation .object.active .choiseCircle{
	background-image: url(/addScill.svg);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.blockBaseInformation .success{
	display: inline-block;
	vertical-align: bottom;
	position: absolute;
	bottom:10px;
	left:0;
	right:0;
}
.popup input{
	width:95%;
	height:40px;
	margin-bottom: 30px;
}
.popup select{
	width:100%;
	height:40px;
	margin-bottom: 30px;
}
.divisions{
	position: relative;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
}
.divisionsBlock{
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	overflow: hidden;
	position: relative;

}

.divisionsBlock .content{
	background: rgba(100,100,100,0.8);
	padding-left: 30px;
	overflow: hidden;
	padding-bottom: 70px;
	vertical-align: bottom;
	position: relative;
}
.divisionsBlock .content p{
	display: block;
}
.divisionsBlock .header{
	color:rgb(180,180,180);
	line-height: 3;
	font-weight: bold;
}
.hr{
	margin-top: 10px;
	margin-bottom: 60px;
	width:80%;
	display: inline-block;

}
.hr hr{
	width:75%;
	color:white;
}
.butPack{
	position: absolute;
	bottom:7%;
	width:100%;
}
.butPack div{
	font-size: 11px;
	width:27%;
	float:left;
	padding: 10px 20px 10px 20px;
	text-align: center;
	margin-right: 7%;
}
.butPack div p{
	margin: 0;
}
.subscripePosition{
	margin-bottom: 100px;
}
.pPack{
	text-align: center;
}
.pPack p{
	text-align: left;
}
.pPack .add{
	
}

.delInput{
	float: right;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	background-image: url(/delete.png);
	-webkit-background-size: 60% 60%;
	background-size: 60% 60%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.noactive .content{
	height:170px;
}

.insertSkill{
	width:80%;
	background: rgba(80,80,80,1);
	margin: auto;
	position: absolute;
	left:0;
	right:0;
	top:-25px;
	padding-top: 10px;
}
.j-wrapper{
	background-attachment: fixed;	
}


