.j-content--block{
	min-height: calc(100vh - 100px);
	width: 100%;
	height: 100%;
	padding-top: 100px;
	text-align: center;
}
.blockBaseInformation{
	background: rgba(0, 0, 0, 0.7);
	padding: 1em;
	min-height: 50vh;
	width: 15%;
	display: inline-block;
	margin-right: -4px;
	transition: .3s;
	margin-top:200px;
}
.blockBaseInformation p{
	color:white;
	text-align: left;
	margin-left:30px;
	cursor: pointer;
}
.blockBaseInformation p.active{
	color:var(--active);
}
.centerBlockBaseInformation{
	background: rgba(255, 255, 255, 0.5);
	width: 50%;
	padding: 1em 0;
	display: inline-block;
	min-width: 360px;
	vertical-align: top;
	text-align: left;
}
.centerBlockBaseInformation .header{
	background: rgba(0, 0, 0, 0.7);
	font-weight: normal;
	color: #d48a32;
	font-size: 30px;
}
.centerBlockBaseInformation h1{
	line-height: 2;
	font-weight: normal;
	color: #d48a32;
	margin-top: 10px;
	padding: 0 2em;
	font-size: 30px;
}

.rightBlockBaseInformation{
	background: rgba(0, 0, 0, 0.7);
	padding: 1em;
	min-height: 50vh;
	width: 15%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	transition: .3s;
	margin-top:200px;
}
.info{
	min-height:300px;
	margin-left: 50px;
	margin-right: 50px;
	background: rgba(130,130,130,0.7);
	overflow: hidden;
	color:white;
	margin-top: 50px;
}
.info .header{
	background: rgba(60,60,60,0.8);
	color:#c0c0c0;
}
.info .header h3{
	margin-top: 20px;
	margin-left:50px;
	line-height: 40px;
}
.info .header .del{
	float:right;
	height:100%;
	width:100px;
	background-image: url(/trash.svg);
	background-position: center;
	-webkit-background-size: 30% 40%;
	background-size: 30% 40%;
	background-repeat: no-repeat;
	cursor: pointer;
}
.info .content{
	margin: 50px;
}
.popup{
	
}
.popup textarea{
	width:95%;
	height:300px;
	resize: none;
}
.popup .button{
	text-align: center;
}
.popup .button .deleteButton{
	display: inline-block;
}

.popup input[type="file"]{
	width:50px;
}
.popup label{
	color:white;
}
.popup .type_item{
	width:40%;
}