.j-wrapper{
	width: 100%;
}
.hidden{
	display:none;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.fl-r{
	float: right;
}
.fl-l{
	float: left;
}
.ta-l{
	text-align: left;
}
.ta-r{
	text-align: right;
}
.flex-m{
	align-items: center;
	-webkit-align-items: center;
}
.flex-c{
	justify-content: center;
	-webkit-justify-content: center;
}

.bg-1{
	background: url(../../img/bgHero.jpg) no-repeat top center / cover fixed;
}
.bg-2{
	background: url(../../img/thumb-1920-596015.jpg) no-repeat top center / cover fixed;
}
.bg-3{
	background: url(../../img/473528.jpg) no-repeat top center / cover fixed;
}
.j-content--block{
	min-height: calc(100vh - 100px);
	width: 100%;
	height: 100%;
	padding-top: 100px;
	text-align: center;
}
.j-search--block{
	background: rgba(0, 0, 0, 0.7);
	padding: 1em;
	min-height: 50vh;
	width: 15%;
	display: inline-block;
	vertical-align: bottom;
	margin-right: -4px;
	text-align: left;
	transition: .3s;
}
.j-search--block div{
	transition: .3s;
}
.j-search--block h3{
	color: #d48a32;
	font-weight: normal;
}
.j-found--block, .dispatch{
	background: rgba(255, 255, 255, 0.5);
	width: 60%;
	padding: 1em 0;
	display: inline-block;
	min-width: 360px;
	vertical-align: top;
	text-align: left;
}
.j-found--block h1, .dispatch h1{
	line-height: 2;
	background: rgba(0, 0, 0, 0.7);
	font-weight: normal;
	color: #d48a32;
	padding: 0 2em;
	font-size: 30px;
}
.jSearch-name{
	text-align: center;
}
.jSearch-name span{
	background: rgba(0, 0, 0, 0.7);
	border-radius: 2px;
	padding: 6px;
	width: 300px;
	height: 2.2em;
	display: block;
	margin: auto;
	text-align: left;
}
.jSearch-name span input{
	border: none;
	background: transparent;
	vertical-align: middle;
	padding: 0 8px;
	height: 100%;
	color: #fff;
	width: 87%;
}
.jSearch-name span input::placeholder{
	color: #fff;
}
.jSearch-name span img{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	margin: 0 5px;
}
.jGrid{
	flex-flow: row wrap;
}
.jGrid-item{
	width: 220px;
	margin: 1em;
	height: 300px;
}
.jGrid-item--img{
	background-color: rgba(160, 152, 152, 0.81);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
	width: 100%;
	height: 75%;
}
.jGrid-item--name{
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 25%;
	text-align: center;
	position: relative;
}
.jGrid-item--name p{
	color: #fff;
	line-height: 4.3;
	font-size: 17px;
	margin:0;
}
.jRound{
	position: absolute;
	border: 4px solid #d48a32;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	margin: -1em auto;
    left: 0;
    right: 0;
}
.jRound-item{
	background: #d48a32;
	border-radius: 100%;
	width: 14px;
	height: 14px;
}