.dispatch{
	width: 50%;
	vertical-align: middle;
}
.va-m{
	vertical-align: middle;
}
.jD-blocks{
	text-align: center;
}
.jD-block{
	display: inline-block;
	vertical-align: top;
	width: 42%;
	margin: 1em;
}
.block-mess{
	width: 100%;
}
.block-mess--title{
	padding: 10px;
	font-size: 16px;
	color: #fff;
	line-height: 2;
	background: rgba(0,0,0, 0.7);
	/*width: 100%;*/
}
.block-mess--title p{
	margin: 0;
}
.block-mess textarea{
	width: 93%;
	resize: none;
	height: 280px;
	overflow: auto;
	background: rgba(84, 84, 84, 0.65);
	border: none;
	padding: 10px;
}
.mess-contacts{
	width: 93%;
	resize: none;
	overflow: auto;
	background: rgba(84, 84, 84, 0.65);
	border: none;
	padding: 10px;
	text-align: left;
}
.mess-contacts p{
	margin: 2em 0;
}
.mess-contacts span{
	color: #fff;
	font-size: 14px;
	line-height: 2;
	margin: 0 0 0 1em;
}
.mr-1{
	margin: 1em 0;
}
.mess-contacts--block{
	height: 121px;
	overflow: auto;
}
.block-add-file{
	padding: 10px;
	background: rgba(0,0,0, 0.7);
	/*width: 100%;*/
	text-align: center;
	margin: 1em 0;
}
.block-add-file img{
	width: 25px;
	vertical-align: middle;
	margin: 0 10px;
}
.block-add-file p{
	margin:0;
	font-size: 15px;
	color: #fff;
}
.block-add-file input[type=file]{
	position: absolute;
	opacity: 0;
}
.mr-0{
	margin-right: 0;
	margin-left: -4px;
}
.dBlock-p{
	color: #fff;
	line-height: 2;
	font-size: 14px;
	margin:0;
}
.dBlock{
	min-height: 200px;
}
.dBlock-btn{
	text-align: center;
}
.dBlock-btn button{
	border: none;
	background: #ea8f39;
	border-radius: 2px;
	padding: 10px;
	margin: 1em;
	color: #fff;
}