.avatarContent{
	min-height:100vh;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	color:white;
	overflow: hidden;
}
.profileContent{
	margin:auto;
	width:80%;
	margin-top:10%;
	overflow: hidden;
	background: rgba(182,182,182,0.7);
	padding-bottom: 50px;
}
.profileContent .header{
	padding-left: 150px;
	background: rgba(70,70,70,0.8);
	color:#EC8B00;
}
.profileContent .header img{
	cursor:pointer;
}
.header{
	height:80px;
	border-bottom: 1px solid #000;
	text-align: left;
	overflow: hidden;
}
.item{
	width:70px;
	height:70px;
	margin: 20px auto 20px auto;
	background: rgba(40,40,40,1);
}

.profileContent .main{
	padding: 50px;
}
.profileContent .main .profile{
	width:45%;
	float:left;
	background: rgba(100,100,100,0.7);
}
.profileContent .main .header{
	padding-left: 30px;
	color:white;
	
}
.profileContent .main .header img{
	height:80%;
	margin-right: 10px;
	margin-top: 10px;
	float:right;
}
.profile,.anketa{
	padding-bottom: 40px;
	height:600px;
}
.profileContent .main .profile .main .par{
	color:#c0c0c0;
}
.profileContent .main .profile .main .personalItems{
	float:right;
	width:20%;
}
.profileContent .main .profile .main .avatarImg{
	display: inline-block;
	width:60%;
	height:70%;
	text-align: center;
}
.profileContent .main .profile .main .avatarImg img{
	width:60%;
	margin-top: 20px;
}
.profileContent .main .profile .main .profitItems{
	float:left;
	display: inline-block;
	width:20%;
}
.profileContent .main .anketa{
	width:45%;
	float:right;	
	background: rgba(100,100,100,0.7);
}
.profileContent .main .anketa .header img{
	float:left;
}


.avatarCharacterContent{
	opacity: 0.8;
	color:white;
	text-align: center;
}
.avatarContents table{
	margin:auto;
}
.avatarContents table td{
	padding:15px 20px 15px 20px;
	text-align: left;
}
.avatarCharacterContent table td:nth-child(1){
	color:#000;
	font-weight: bold;
}



.peregorodka{
	height:100px;
	background: #000;
	text-align: center;
	overflow: hidden;
}
.peregorodka h1{
	color:var(--active);
	margin-bottom: 0;
}
.peregorodka div:nth-child(1){
	border: 1px solid #fff;
}
.polosa{
	display: inline-block;
	width:350px;
	position: relative;
	text-align: center;
}

.accountRewart{
	min-height: 100vh;
	background-image: url("../../../img/backgroundFromRewart.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
.accountRewart .profileContent{
	margin-top:0;
	padding: 50px 0px 200px 0px;
	text-align: center;
}
.rewartContent{
	display: inline-block;
	max-width:970px;
}
.rewart{
	display: inline-block;
	background: rgba(100,100,100,0.6);
	float:left;
	width:300px;
	height:400px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}
.rewart .main{
	height:50%;
	position: relative;
	z-index: 2;
}
.rewart .main:hover{
	box-shadow:0 0 20px var(--active);
}
.bottomContent{
	position: relative;
	background: rgba(70,70,70,1);
	height:100px;
	width:100%;
	z-index: 1;
	text-align: center;
	color:#c0c0c0;
}
.bottomContent img{
	position: relative;
	width:60px;
	bottom:30px;
	margin: 0;

}
.bottomContent h2{
	margin-top: 0;
	position: relative;
	bottom:30px;
}

