body{
	padding: 0;
	margin: 0;
	font-family: "Geometric";
}

.navigation{
	height:10vh;
	background: rgba(0,0,0,0.5);
}
.link{
	color:var(--active);
	cursor: pointer;
}
.link:hover{
	border-bottom: 1px solid var(--active);
}
.hidden{
	display: none;
}
.margin{
	margin-top:40px;
	margin-bottom: 40px;
}

hr{
	background: var(--active);
	color:var(--active);
	position: absolute;
	width:100%;
	z-index:1;
}
.circle{
	width:15px;
	height:15px;
	border-radius: 15px;
	background: var(--active);
	display: inline-block;
	position: relative;
	z-index:2;
}	

.header .add{
	float:right;
	background: #D03A31;
	background-image: url(/add.svg);
	background-position: center;
	-webkit-background-size: 50% 50%;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	width:50px;
	height:40px;
	margin-right: 20px;
	margin-top: 20px;
	cursor:pointer;
}

.add{
	background: #D03A31;
	background-image: url(/add.svg);
	background-position: center;
	-webkit-background-size: 50% 50%;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	width:50px;
	height:40px;
	margin-right: 20px;
	margin-top: 20px;
	cursor:pointer;
}



.jDrop{
	margin: 1em auto;
	background: rgba(0 ,0,0, 0.8);
	padding: 1em 10px;
	width: 90%;
	border-radius: 2px;
	cursor: pointer;
}
.jDrop span{
	color: #fff;
	font-size: 14px;
	width: 80%;
	display:inline-block;
	vertical-align: middle;
}
.jDrop img{
	width: 15px;
	margin: 5px;
	vertical-align: middle;
	transition: .2s;
}
.jDrop-list{
	margin: 1em auto;
	background: rgba(255,255,255, 0.8);
	padding: 1em 10px;
	width: 90%;
	border-radius: 2px;
	opacity: 0;
	transition: .5s;
}




.j-header{
	background: rgba(0,0,0, 0.8);
	padding: 10px;
	height: 80px;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.header-item span{
	display: block;
	max-height: 70px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	transition: .2s;
}
.header-item span:hover{
	color: #fecc09;
}
.header-item span img{
	width: 75px;
	height: 75px;
}
.header-item+.active span{
	color: var(--active);
}
.headerItemActive{
	position: relative;
	text-align: center;

}
.logout-img{
	cursor: pointer;
}
.logout-img img{
	width: 50px;
}


.footer{
	position: absolute;
	background: #0a020b;
	width: 100%;
	color: #fff;
	justify-content: space-around;
	flex-flow: row wrap;
}
.footer img{
	width: 35px;
	height: 35px;
	cursor: pointer;
	margin: 0 5px;
}




.successButton{
	background: green;
	padding: 10px 30px 10px 30px;
	padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
	color:white;
	font-size: 14px;
	cursor: pointer;
}

.editButton{
	background: var(--active);
	padding: 10px 30px 10px 30px;
	padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
	color:white;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.deleteButton{
	background: #D03A31;
	padding: 10px 30px 10px 30px;
	padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
	color:white;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.subscripePopUp{
	position: fixed;
	z-index: 10;
	bottom: 0;
	top:0;
	left:0;
	right:0;
}
.popup{
	position: fixed;
	z-index: 11;
	left:0;
	right:0;
	bottom:0;
	top:0;
	margin: auto;
	padding: 50px;
	display: inline-block;
	background: rgba(20,20,20,1);
}



@media( max-width: 1024px){
.j-search--block{
	min-height: auto;
	vertical-align: top;
}
}
@media( max-width: 900px){
	.j-search--block{
		min-width: 300px;
		width: 90%;
	}
	.j-header{
		display:none;
	}
	.dispatch{
		width: 93%;
	}
}
@media( max-width: 820px){
	.j-search--block{
		width: 56%;
		margin-right: 0;
	}
	.j-header{
		display:none;
	}
	.jD-block{
		width: 90%;
	}
}
@media( max-width: 330px){
	.j-search--block{
		min-width: 270px;
		width: 80%;
	}
	.j-header{
		display:none;
	}
	.j-found--block, .dispatch{
		min-width: 270px;
		width: 90%;
	}
	.jSearch-name span{
		width: 100%;
	}
}