input[type='checkbox'] + .checkboxLabel::before{
	content: "";
    color: transparent;
    display: inline-block;
    border: 2px solid #fff;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}
input[type='text']{
	width:70%;
	height:40px;
	padding-left:20px;
	color:#4F5453;
	font-weight: bold;
	background: var(--bgInputs);
	border: none;
	
	margin-bottom: 10px;
}
textarea{
	width:70%;
	height:40px;
	padding-left:20px;
	color:#4F5453;
	font-weight: bold;
	background: var(--bgInputs);
	border: none;
	
	margin-bottom: 10px;	
}
input[type='password']{
	width:70%;
	height:40px;
	padding-left:20px;
	color:#4F5453;
	font-weight: bold;
	background: var(--bgInputs);
	border: none;
	
	margin-bottom: 10px;
}
input[type='checkbox']:checked + .checkboxLabel::before{
	color: #000;
	background: #333;
}

input[type="submit"]{
	width:80%;
	height:40px;
	background: var(--active);
	color:white;
	border: none;
	font-size:18px;
}
input[type="submit"]:hover{
	cursor: pointer;	
	box-shadow: 0 0 5px #fff inset;
}




.inputPack{
	width:70%;
	margin: auto;	
	overflow: hidden;
}
.inputPack input[type="button"]{
	height:40px;
	width:40%;
	border: none;
	cursor:pointer;
}
.inputPack input[type='button']:nth-child(1){
	float:left;
	background: var(--bgInputs);
	color:#4F5453;
}
.inputPack input[type='button']:nth-child(1):hover{
	box-shadow: 0 0 5px #fff inset;
}
.inputPack input[type='button']:nth-child(2){
	float:right;
	background: var(--active);
	color:white;
}
.inputPack input[type='button']:nth-child(2):hover{
	box-shadow: 0 0 5px #fff inset;
}


.inputPack{
	overflow:hidden;
}
.inputPack input[type="text"]:nth-child(1){
	height:40px;
	padding-left:20px;
	color:#4F5453;
	font-weight: bold;
	background: var(--bgInputs);
	border: none;
	width:40%;
	float:left;
	font-size:14px;
	font-family: "Geometric";
}
.inputPack input[type="text"]:nth-child(2){
	height:40px;
	padding-left:20px;
	color:#4F5453;
	font-weight: bold;
	background: var(--bgInputs);
	border: none;
	width:40%;
	float:right;
	font-size:14px;
	font-family: "Geometric";
}



input[type='radio'] + .radioLabel::before{
	content: '';
	border: 1px solid #6B6868;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	padding: 2px;
	margin-right: 10px;
	text-align: center;


}
input[type='radio']:checked + .radioLabel::before{
	background-image:url("../../img/backgroundFromRadio.png");
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 40%;
	border: 2px solid var(--active);
	font-family: 'FontAwesome';
	color: #fff;
	font-size: 10px;
	/*border: 2px solid #fff;*/
	line-height: 1;
}

