.autorizationContent{
	height:100vh;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	color:white;
	overflow: hidden;
}
.autorizationContent form{
	padding: 80px 100px 80px 100px;
	display: inline-block;
	margin: auto;
	background: rgba(0,0,0,0.7);
	margin-top: 8vh;
}
.autorizationContent form h1{
	color:var(--active);
}
.autorizationContent form .parPack span {
	float:right;
}
.autorizationContent form .parSubmit{
	margin-top:60px;
	margin-bottom: 60px;
}