.registrationContent{
	height:100vh;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	color:white;
	overflow: hidden;
}
.registrationContent form{
	padding: 100px 100px 100px 100px;
	display: inline-block;
	margin: auto;
	background: rgba(0,0,0,0.7);
	margin-top: 5vh;
}
.registrationContent form h1{
	color:var(--active);
}
.registrationContent form .parPack span {
	float:right;
}
.registrationContent form .parSubmit{
	margin-top:60px;
	margin-bottom: 60px;
}



.progressBar .steps{
	position: relative;
	z-index: 1;
	border-radius:100px;
	width:40px;
	height:40px;
	line-height: 40px;
	background-color: var(--progressBar);
	font-size:30px;
	color:#c0c0c0;
	display: inline-block;
}
.progressBar .stepOne{
	float:left;
}
.progressBar .stepThree{
	float:right;
}
.progressBar .stepTwo{
	display: inline-block;
}

.progressBar hr{
	border: 1px solid var(--progressBar);
	position: relative;
	bottom:30px;
	z-index: 0;
}
.progressBar .active{
	background-color: var(--active);
	color:#fff;
}



