<div class="j-wrapper" style="background-image:url(/backgroundAdministration.jpg);">

	<div class="j-content " >
		<div class="contentAdmin">
			<div class="centerBlockBaseInformation">
				<div class="header">
					<div class="add addPers"></div>
					<h2 class="active">Персонал</h2>
					<h2>Отделы</h2>
				</div>
				<div class="content tab">
					
					<% if(users.length>0){ %>
					<% for(let i = 0; i < users.length; i++){ 
						let path = (users[i].avatar_path)?users[i].avatar_path:"/uploads/ba/avatar.png";
					%>
						<div class="infoPers noactive">
							<div class="ava">
								<div class="img" ></div>
								<div class="editButton">Редактировать</div>
								<div class="deleteButton">Удалить</div>
							</div>
							<div class="main">
								<div class="header">
									<h2><%= users[i].data.name %> <%= users[i].data.surname %></h2>
									<div class="success">
										<img align="left" src="/confirmed.svg" alt="">
										<p>Подтверждён</p>
									</div>
								</div>
								<div class="content">
									<div class="infoContent">
										<p>Отдел:<%= users[i].depName %></p>
										<p>Должность: <%= users[i].spot_name %></p>	
										<p>пол:<%= users[i].data.male %></p>
										<p>почта:<%= users[i].username%></p>
										<p>телефон:<%= users[i].data.phone %></p>
										<p>telegram:<%= users[i].data.telegram %></p>
										<p>Дата рождения:<%= users[i].data.birthday %></p>
									</div>								
									<div class="reveal noactive"></div>
								</div>
							</div>
						
					</div>
					<% } %>
				<% }%>
<!-- 					<div class="infoPers noactive">
						<div class="ava">
							<div class="img"></div>
							<div class="editButton">Редактировать</div>
							<div class="deleteButton">Удалить</div>
						</div>
						<div class="main">
							<div class="header">
								<h2>Владимир Чарлин</h2>
								<div class="success">
									<img align="left" src="/confirmed.svg" alt="">
									<p>Подтверждён</p>
								</div>
							</div>
							<div class="content">
								<div class="infoContent">
									<p>Отдел:IT</p>
									<p>Должность: web-разработчик</p>	
									<p>пол:женский</p>
									<p>почта:d.kulikesheva@gmail.com</p>
									<p>телефон:+7 778 875 88 66</p>
									<p>telegram:@jtdkjtdk</p>
									<p>Дата рождения:02.08.1994</p>
									<p>Отдел:IT</p>
								</div>
								<div class="reveal noactive"></div>
							</div>
						</div>
					</div> -->
				</div>
				<div class="divisions tab" style="display: none;">
					<% for(let i = 0;i < departments.length; i++){ %>
						<div class="divisionsBlock" data-id="<%= departments[i].id %>">
							<div class="header">
								<span><%= departments[i].name %></span>
							</div>
							<div class="content">
								<div class="pPack">
									<% for(let j = 0; j < departments[i].spots.length;j++){ %>
										<p><%= departments[i].spots[j].name %></p>
									<% } %>
								</div>
								<div class="butPack">
									<!-- <div class="deleteButton redit">Редактировать</div> -->
									<div class="editButton del">Удалить</div>
								</div>
							</div>
						</div>
					<% } %>
					<!-- <div class="divisionsBlock">
						<div class="header">
							<span>Маркетинг</span>
						</div>
						<div class="content">
							<div class="pPack">
								<p>Маркетолог</p>
								<p>Копирайтер</p>
							</div>
							<div class="butPack">
								<div class="deleteButton redit">Редактировать</div>
								<div class="editButton del">Удалить</div>
							</div>
						</div>
					</div>
					<div class="divisionsBlock">
						<div class="header">
							<span>Бухгалтерия</span>
						</div>
						<div class="content">
							<div class="pPack">
								<p>Бухгалтер</p>
							</div>
							<div class="butPack">
								<div class="deleteButton redit">Редактировать</div>
								<div class="editButton del">Удалить</div>
							</div>
						</div>
					</div>
					<div class="divisionsBlock">
						<div class="header">
							<span>Отдел продаж</span>
						</div>
						<div class="content">
							<div class="pPack">
								<p>Специалист по продажам</p>
								<p>Логист</p>
							</div>
							<div class="butPack">
								<div class="deleteButton redit">Редактировать</div>
								<div class="editButton del">Удалить</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="blockBaseInformation va-m mr-0" style="display: none;">
				<div class="insertSkill">
					<input type="text">
					<div class="successButton">Ок</div>
				</div>
				<div class="subscripeObjects">
					<div class="object">
						<div class="choiseCircle"></div>
						<p>Phototshop</p>
					</div>
					<div class="object">
						<div class="choiseCircle"></div>
						<p>Phototshop</p>
					</div>
					<div class="object">
						<div class="choiseCircle"></div>
						<p>Phototshop</p>
					</div>
					<div class="object">
						<div class="choiseCircle"></div>
						<p>Phototshop</p>
					</div>
					<div class="object">
						<div class="choiseCircle"></div>
						<p>Phototshop</p>
					</div>
					<div class="object">
						<div class="choiseCircle"></div>
						<p>Phototshop</p>
					</div>
					<div class="object">
						<div class="choiseCircle"></div>
						<p>Phototshop</p>
					</div>
					<div class="object">
						<div class="choiseCircle"></div>
						<p>Phototshop</p>
					</div>
					<div class="object">
						<div class="choiseCircle"></div>
						<p>Phototshop</p>
					</div>
				</div>
				<div class="success">
					<div class="successButton createDepart">Готово</div>
				</div>
			</div>
			<div class="blockBaseInformation va-m mr-0" style="display: none;">
				<div class="add addPosition"></div>
				<input type="text" placeholder="Отдел">
				<div class="subscripePosition">
					
					<div class="hr"><hr></div>
					<div class="inputPack">
						<input type="text" placeholder="Должность">
						<input type="text" placeholder="Должность">
					</div>
				</div>
				<div class="success">
					<div class="successButton insertDivision">Готово</div>
				</div>
			</div>
		</div>
	</div>
</div>