
<div class="j-wrapper bg-3" style="background-image:url(/backgroundBaseInformation.jpg);background-position: 50%;">

	<div class="j-content ">
		<div class="j-content--block">
			<div class="blockBaseInformation va-m">
				<p id="1" class="active">Достижения</p>
				<p id="2">Навыки</p>
				<p id="3">Предметы</p>
				
			</div>
			<div class="centerBlockBaseInformation">
				<div class="header">
					<div class="add insert"></div>
					<h1>Достижения</h1>

				</div>
				<div class="list_content">
				<% for(let i =0;i<achievements.length;i++){ %>
					<div class="info">
						<div class="header">
							<div class="del" data-id="<%= achievements[i].id %>"></div>
							<h3><%= achievements[i].name %></h3>
						</div>
						<div class="info_image">
								<img src="/public<%= achievements[i].path %>" />
						</div>
						<div class="content">
							<p><%= achievements[i].description %></p>
						</div>
					</div>
				<% }%>
				</div>
			</div>
			<div class="blockBaseInformation va-m mr-0">
				<p id="<%= spots[0].id %>"  class="active"><%= spots[0].name %></p>
				<% for(let i =1;i<spots.length;i++) { %>
				<p id="<%= spots[i].id %>"><%= spots[i].name %></p>
				<% } %>
				
				
			</div>
		</div>
	</div>
</div>