<div class="j-wrapper bg-2">
	<div class="j-content ">
		<div class="j-content--block">
			<div class="jChat">
				<div class="chatNav">
					
					<div><p>Онлайн-чат</p></div>
				</div>
				<div class="chat-wrap">
					<div class="chat-title">
						<p class="chat-status-on fl-r"></p>
						<p class="chat-name ">Выберите сотрудника</p>
					</div>
					<div class="mess-area">
						<div class="subscripeMessArea">
							<!-- <div class="mess fl-l ta-l">
								<div class="left-mess">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quas eveniet laborum deleniti ad voluptatibus soluta magni, nemo consectetur, velit perspiciatis odit itaque earum vero architecto. Odio, doloremque nemo officia?</p>
								</div>
							</div>
							<div class="mess fl-r ta-r">
								<div class="right-mess">
									<p>Hi</p>
								</div>
							</div>
							<div class="mess fl-l ta-l">
								<div class="left-mess">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quas eveniet laborum deleniti ad voluptatibus soluta magni, nemo consectetur, velit perspiciatis odit itaque earum vero architecto. Odio, doloremque nemo officia?</p>
								</div>
							</div>
							<div class="mess fl-r ta-r">
								<div class="right-mess">
									<p>Hi</p>
								</div>
							</div>
							<div class="mess fl-l ta-l">
								<div class="left-mess">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quas eveniet laborum deleniti ad voluptatibus soluta magni, nemo consectetur, velit perspiciatis odit itaque earum vero architecto. Odio, doloremque nemo officia?</p>
								</div>
							</div>
							<div class="mess fl-r ta-r">
								<div class="right-mess">
									<p>Hi</p>
								</div>
							</div>
							<div class="mess fl-l ta-l">
								<div class="left-mess">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quas eveniet laborum deleniti ad voluptatibus soluta magni, nemo consectetur, velit perspiciatis odit itaque earum vero architecto. Odio, doloremque nemo officia?</p>
								</div>
							</div>
							<div class="mess fl-r ta-r">
								<div class="right-mess">
									<p>Hi</p>
								</div>
							</div> -->
						</div>
					</div>
					<div class="send-mess">
						
						<textarea class="text_message" disabled="disabled"></textarea>
						<img class="send_mess_btn" src="img/send_white_192x192.png" alt="">
					</div>
				</div>
				<div class="chat-contacts">
					<div class="chat-contacts--title">
						<p>Контакты</p>
					</div>
					<div class="contacts-list">
							<% for(let i =0;i<users.length;i++){ %>
								<p id = "<%= users[i].id %>">
								<% if(users[i].is_online){ %>
								<span class="contact-status status-on"></span>	
								<% } else {%>
								<span class="contact-status status-off"></span>	
								<% } %>
								
								<span class="contact-name"><%= users[i].data.name %>
								<%= users[i].data.surname %></span>
								
								</p>
							<% }%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
