<div class="j-wrapper bg-1">
	<div class="j-content ">
		<div class="j-content--block">
			<div class="j-search--block">
				<h3>Поиск</h3>
				<div class="jSelect filter_dep">
					<div class="jDrop"><span>Отдел</span><img src="img/d-arr.svg" alt=""></div>
						<div class="jDrop-list hidden">
							<% for(let i = 0;i < get_departments.length; i++){ %>
								<p>
									<input type="checkbox" id="user-otd<%= get_departments[i].id %>">
									<label for="user-otd<%= get_departments[i].id %>"><%= get_departments[i].name %></label>
								</p>							
							<% } %>
						</div>
					
				</div>
				<!-- <div class="jSelect">
					<div class="jDrop"><span>Должность</span><img src="img/d-arr.svg" alt=""></div>
					<div class="jDrop-list hidden">
						<p>
							<input type="checkbox" id="user-skills">
							<label for="user-skills">HTML</label>
						</p>
					</div>
				</div> -->
				<!-- <div class="jSelect">
					<div class="jDrop"><span>Звание</span><img src="img/d-arr.svg" alt=""></div>
					<div class="jDrop-list hidden">
						<p>
							<input type="checkbox" id="user-skills">
							<label for="user-skills">HTML</label>
						</p>
					</div>
				</div> -->
				<div class="jSelect filter_achiev">
					<div class="jDrop"><span>Достижения</span><img src="img/d-arr.svg" alt=""></div>
					<div class="jDrop-list hidden">
						<% for(let i = 0;i < achievs.length; i++){ %>
							<p>
								<input type="checkbox" id="user-dos<%= achievs[i].id %>">
								<label for="user-dos<%= achievs[i].id %>"><%= achievs[i].name %></label>
							</p>							
						<% } %>
					</div>
				</div>
				<div class="jSelect filter_skill">
					<div class="jDrop"><span>Навыки</span><img src="img/d-arr.svg" alt=""></div>
					<div class="jDrop-list hidden">
						<% for(let i = 0;i < skills.length; i++){ %>
							<p>
								<input type="checkbox" id="user-skill<%= skills[i].id %>">
								<label for="user-skill<%= skills[i].id %>"><%= skills[i].name %></label>
							</p>							
						<% } %>
					</div>
				</div>
				<!-- <div class="jSelect">
					<div class="jDrop"><span>Характеристики</span><img src="img/d-arr.svg" alt=""></div>
					<div class="jDrop-list hidden">
						<p>
							<input type="checkbox" id="user-skills">
							<label for="user-skills">HTML</label>
						</p>
					</div>
				</div> -->
				<input type="submit" value="Найти" class="filter_btn">
			</div>
			<div class="j-found--block">
				<h1>Поиск сотрудников</h1>
				<div class="jSearch-name">
					<span><img src="img/search.png" alt=""><input type="search" class="searchInput" placeholder="Введите имя"></span>
				</div>
				<div class="jGrid contPers flex flex-c">
					<% for(let i = 0; i < get_users.length; i++){ 
						let path = (get_users[i].avatar_path)?get_users[i].avatar_path:"/uploads/ba/avatar.png";
					%>

						<div class="jGrid-item href" data-page="hero" data-id="<%= get_users[i].id %>">
							<div class="jGrid-item--img" style="background-image: url(/public<%= path %>)"></div>
							<div class="jGrid-item--name">
								<span class="jRound flex flex-c flex-m"><div class="jRound-item"></div></span>
								<p title="Полное имя героя"><%= get_users[i].data.name %></p>
							</div>
						</div>
					<% } %>				
					
				</div>
			</div>
		</div>
	</div>
</div>