<div class="j-wrapper bg-3">

	<div class="j-content ">
		<div class="j-content--block">
			<div class="j-search--block va-m">
				<h3>Поиск</h3>
				<div class="dBlock"><p class="dBlock-p">Онлайн-чат</p></div>
			</div>
			<div class="dispatch">
				<h1>Рассылка</h1>
				<div class="jD-blocks">
					<div class="jD-block">
						<div class="block-mess">
							<div class="block-mess--title">
								<p>Письмо</p>
							</div>
							<div>
								<textarea></textarea>
							</div>
						</div>
						<div class="block-add-file">
							<input type="file">
							<p>Прикрепить файл <img src="img/document.png" alt=""></p>
						</div>
					</div>
					<div class="jD-block">
						<div class="block-mess">
							<div class="block-mess--title">
								<p>Отделы</p>
							</div>
							<div class="mess-contacts depart">
								<% for(let i = 0; i < get_departments.length;i++){ %>
									<p>
										<input class="hidden" data-id="<%= get_departments[i].id%>" type="checkbox" id="otd<%= i %>" >
										<label class="checkboxLabel"  for="otd<%= i %>"><%= get_departments[i].name %></label>
									</p>
								<% } %>
							</div>
						</div>
						<div class="block-mess">
							<div class="block-mess--title">
								<p>Сотрудники</p>
							</div>
							<div class="mess-contacts cooperat">
								<% for(let i = 0; i < get_users.length; i ++){ %>
									<p>
										<input class="hidden" data-id="<%= get_users[i].id%>" type="checkbox" id="sot<%= i %>" >
										<label class="checkboxLabel"  for="sot<%= i %>"><%= get_users[i].data.name%> <%=get_users[i].data.surname %></label>
									</p>
								<% } %>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="j-search--block va-m mr-0">
				<h3>Отправить письмо</h3>
				<div class="dBlock"><p class="dBlock-p"></p></div>
				<div class="dBlock-btn">
					<button class="dispatchSuccess">Отправить</button>					
				</div>
			</div>
		</div>
	</div>
</div>