<div class="avatarContent content" style="background-image: url('img/backgroundFromProfile.png');" >

	<div class="profileContent">
		<div class="header">
			<h1>Мой профиль</h1>
		</div>
		<div class="main">
			<div class="profile">
				<div class="header">
					<img src="img/bag.png" alt="">
					<h1>Профиль</h1>

				</div>
				<div class="main">
					<div class="par profitItems">
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
					</div>
					<div class="par avatarImg">
						<img src="img/avatar.png" alt="">
					</div>
					<div class="par personalItems">
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
					</div>
				</div>
			</div>
			<div class="anketa">
				<div class="header">
					<img src="img/ankeets.png" alt="">
					<img src="img/book.png" alt="">
					<img src="img/skills.png" alt="">
				</div>
				<div class="avatarCharacterContent avatarContents" style="display: none;">
					<table width="80%">
						<tr>
							<td>Имя</td>
							<td>test</td>
						</tr>
						<tr>
							<td>Фамилия</td>
							<td>test</td>
						</tr>
						<tr>
							<td>Пол</td>
							<td>test</td>
						</tr>
						<tr>
							<td>Почта</td>
							<td>test</td>
						</tr>
						<tr>
							<td>Телефон</td>
							<td>test</td>
						</tr>
						<tr>
							<td>Телеграм</td>
							<td>test</td>
						</tr>
						<tr>
							<td>Дата рождения</td>
							<td>test</td>
						</tr>
						<tr>
							<td>Должность</td>
							<td>test</td>
						</tr>
						<tr>
							<td>Звание</td>
							<td>test</td>
						</tr>
						<tr>
							<td>Очки</td>
							<td>test</td>
						</tr>
					</table>
				</div>	
				<div class="avatarSkillsContent avatarContents" style="display: none;">
					<table>
						<tr>
							<td>Навык 1</td>
						</tr>
						<tr>
							<td>Навык 2</td>
						</tr>
						<tr>
							<td>Навык 3</td>
						</tr>
						<tr>
							<td>Навык 4</td>
						</tr>
						<tr>
							<td>Навык 5</td>
						</tr>
						<tr>
							<td>Навык 6</td>
						</tr>
						<tr>
							<td>Навык 7</td>
						</tr>
						<tr>
							<td>Навык 8</td>
						</tr>
					</table>
				</div>			
				<div class="avatarAccountSkillsContent avatarContents">
					<table>
						<tr>
							<td>Личный навык 1</td>
						</tr>
						<tr>
							<td>Личный навык 2</td>
						</tr>
						<tr>
							<td>Личный навык 3</td>
						</tr>
						<tr>
							<td>Личный навык 4</td>
						</tr>
						<tr>
							<td>Личный навык 5</td>
						</tr>
						<tr>
							<td>Личный навык 6</td>
						</tr>
						<tr>
							<td>Личный навык 7</td>
						</tr>
						<tr>
							<td>Личный навык 8</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


</div>	
<div class="peregorodka">
	<h1>Полученные награды</h1>
	<div class="polosa">
		<hr>
		<div class="circle"></div>
	</div>
</div>
<div class="accountRewart">
	<div class="profileContent">
		<div class="rewartContent">
			<div class="rewart">
				<div class="main"></div>
				<div class="bottomContent">
					<img src="img/iconsRewart.png" alt="">
					<h2>Награда #1</h2>
				</div>
			</div>
			<div class="rewart">
				<div class="main"></div>
				<div class="bottomContent">
					<img src="img/iconsRewart.png" alt="">
					<h2>Награда #2</h2>
				</div>
			</div>
			<div class="rewart">
				<div class="main"></div>
				<div class="bottomContent">
					<img src="img/iconsRewart.png" alt="">
					<h2>Награда #3</h2>
				</div>
			</div>
			<div class="rewart">
				<div class="main"></div>
				<div class="bottomContent">
					<img src="img/iconsRewart.png" alt="">
					<h2>Награда #4</h2>
				</div>
			</div>
			<div class="rewart">
				<div class="main"></div>
				<div class="bottomContent">
					<img src="img/iconsRewart.png" alt="">
					<h2>Награда #5</h2>
				</div>
			</div>
			<div class="rewart">
				<div class="main"></div>
				<div class="bottomContent">
					<img src="img/iconsRewart.png" alt="">
					<h2>Награда #6</h2>
				</div>
			</div>
		</div>
	</div>

</div>
