<div class="j-wrapper bg-3">

	<div class="j-content ">
		<div class="j-content--block">
			<div class="j-search--block va-m">
				<h3>Поиск</h3>
				<div class="dBlock"><p class="dBlock-p">Онлайн-чат</p></div>
			</div>
			<div class="dispatch">
				<h1>Рассылка</h1>
				<div class="jD-blocks">
					<div class="jD-block">
						<div class="block-mess">
							<div class="block-mess--title">
								<p>Письмо</p>
							</div>
							<div>
								<textarea></textarea>
							</div>
						</div>
						<div class="block-add-file">
							<input type="file">
							<p>Прикрепить файл <img src="img/document.png" alt=""></p>
						</div>
					</div>
					<div class="jD-block">
						<div class="block-mess">
							<div class="block-mess--title">
								<p>Кому</p>
							</div>
							<div class="mess-contacts">
								<p>
									<input class="hidden" type="checkbox" id="coop" >
									<label class="checkboxLabel" for="coop">Сотрудник</label>
								</p>
								<p>
									<input class="hidden" type="checkbox" id="coop1" >
									<label class="checkboxLabel" for="coop1">Сотрудник</label>
								</p>
							</div>
						</div>
						<div class="block-mess mr-1">
							<div class="block-mess--title">
								<p>Контакты</p>
							</div>
							<div class="mess-contacts mess-contacts--block">
								<span>Досмурат Кажикумаров</span>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="j-search--block va-m mr-0">
				<h3>Отправить письмо</h3>
				<div class="dBlock"><p class="dBlock-p">Аида Усманова</p></div>
				<div class="dBlock-btn">
					<button>Отправить</button>					
				</div>
			</div>
		</div>
	</div>
</div>