<div class="avatarContent content" style="background-image: url('img/backgroundFromProfile.png');" >

	<div class="profileContent">
		<div class="header">
			<h1>Мой профиль</h1>
		</div>
		<div class="main">
			<div class="profile">

				<div class="popupInv" style="display: none;">
					<div class="subscripe">
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>											
					</div>
				</div>			
				<div class="header">
					<img src="img/bag.png" class="inventory" alt="">
					<h1>Профиль</h1>
				</div>
				<div class="main">
					<div class="par profitItems">
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
					</div>
					<div class="par avatarImg">
						<img src="img/avatar.png" alt="">
					</div>
					<div class="par personalItems">
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
						<div class="item"></div>
					</div>
				</div>
			</div>
			<div class="anketa">
				<div class="header">
					<img src="img/ankeets.png" alt="" class="tabsProfile activeTab">
					<img src="img/book.png" alt="" class="tabsProfile">
					<img src="img/skills.png" alt="" class="tabsProfile">
				</div>
				<div class="avatarCharacterContent avatarContents this">
					<table width="80%">
						<tr>
							<td>Имя</td>
							<td><%= data[0].data.name %></td>
						</tr>
						<tr>
							<td>Фамилия</td>
							<td><%= data[0].data.surname%></td>
						</tr>
						<tr>
							<td>Пол</td>
							<td><%= data[0].data.male%></td>
						</tr>
						<tr>
							<td>Почта</td>
							<td><%= data[0].username %></td>
						</tr>
						<tr>
							<td>Телефон</td>
							<td><%= data[0].data.phone%></td>
						</tr>
						<tr>
							<td>Телеграм</td>
							<td><%= data[0].data.telegram%></td>
						</tr>
						<tr>
							<td>Дата рождения</td>
							<td><%= data[0].data.birthday%></td>
						</tr>
						<tr>
							<td>Должность</td>
							<td><%= data[0].spot_name %></td>
						</tr>
						<!-- <tr>
							<td>Звание</td>
							<td>test</td>
						</tr> -->
						<tr>
							<td>Очки</td>
							<td>0</td>
						</tr>
					</table>
				</div>	
				<div class="avatarSkillsContent avatarContents" style='display: none;'>
					<% if(skills.length){ %>
						<table>
							<% for(let i =0; i<skills.length; i++) { %>
								<tr>
									<td><%= skills[i].skill_name %></td><td><%= skills[i].skill_percent %></td>
								</tr>
							<% } %>
						</table>
					<% }else{ %>
						<p>HR не добавил пока что не одного навыка</p>
					<% } %>
				</div>			
				<div class="avatarAccountSkillsContent avatarContents" style='display: none;'>
					<% if(pskills.length){ %>
						<table>
							<% for(let i =0;i<pskills.length;i++){%>
							<tr>
								<td><%= pskills[i].pskill_name %></td>
							</tr>
							<% } %>
						</table>
					<% }else{ %>
						<p>HR не добавил пока что не одного личного навыка</p>
					<% } %>
				</div>
			</div>
		</div>
	</div>


</div>	
<div class="peregorodka">
	<h1>Полученные награды</h1>
	<div class="polosa">
		<hr>
		<div class="circle"></div>
	</div>
</div>
<div class="accountRewart">
	<div class="profileContent">
		<div class="rewartContent">
			<% if(achievs.length){ %>
				<% for(let i =0;i<achievs.length;i++){ %>
					<div class="rewart">
						<div class="main">
							<img src="/public<%=achievs[i].achiev_path%>" alt="">
						</div>
						<div class="bottomContent">
							<img src="img/iconsRewart.png" alt="">
							<h2><%=achievs[i].achiev_name%></h2>
						</div>
					</div>
				<% } %>
			<% }else{ %>
				<p>У вас пока нет не одной награды</p>
			<% } %>
		</div>
	</div>

</div>
