<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/staticJs/accountDataOut.js"></script>
	<script src="/staticJs/accountLocation.js"></script>
	<script src="/staticJs/accountNavigation.js"></script>
	<script src="/staticJs/accountFunction.js"></script>
	<script src="/staticJs/accountSubmits.js"></script>
	<link rel="stylesheet" href="/styleAccount.css">

</head>
<body>	
<div class="j-header flex flex-m">
	<div class="header-item">
		<span><img src="img/hr.png" alt=""></span>
	</div>
	<div class="header-item href active" data-page="home">
		<span>Главная</span>
		<span class="headerItemActive">
			<hr>
			<div class="circle"></div>
		</span>
	</div>
	<div class="header-item href" data-page="cooperators">
		<span>Сотрудники</span>
	</div>
	<div class="header-item href" data-page="chat">
		<span>Чат</span>
	</div>
	<div class="header-item href" data-page="baseInformation">
		<span>База знаний</span>
	</div>
	<a href="/logout">
		<div class="header-item logout">
			<p class="logout-img"><img src="img/logout.png" alt=""></p>
		</div>
	</a>
</div>
	

<div class="main"></div>


<div class="footer flex flex-m">
	<div class="footer-address">
		<p>Макатаева, 117</p>
		<p>+7 727 831 32 31.9</p>
		<p>aida@gmail.com</p>
	</div>
	<div class="footer-soc">
		<span><img src="img/Telegram_logo.png" alt=""></span>
		<span><img src="img/phone__icon.png" alt=""></span>
		<span><img src="img/fb-white.png" alt=""></span>
		<span><img src="img/white-email-icon-transparent-background-7.png" alt=""></span>
	</div>
</div>
</body>
</html>