.logo{
	color:#fff;
	height:80%;
	width:200px;
	margin: auto;
	position: relative;
	font-size:35px;
	font-weight: bold;
}
.imgLogo{
	width:80px;
	height:100%;
	background-image: url('/logo.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	float:left;
}
.hidden{
	visibility: hidden;
}
.bac{
	position: absolute;
	bottom:0;

}
.tac{
	text-align: center;
}
.link{
	color:#F1372E;
	border-bottom: 1px solid #F1372E;
	cursor:pointer;
}
.link:hover{
	color:#F1675F;
	border-bottom: 1px solid #F1675F;
}