@import url("/main.css");
@import url("/form.css");
@import url("/fonts.css");
body{
	padding: 0;
	margin: 0;
	font-family: "Geometric";
}
.navigation{
	height:80px;
	outline: 1px solid #000;
	background: #000;
}
.content{
	min-height:100vh;
	background-size: 200% ;
	overflow: hidden;
}

.avatarContent{
	min-height:500px;
	border: 1px solid #000;
	margin: 50px;
	margin: 150px;
	overflow: hidden;
}
.avatar{
	overflow: hidden;
	
}
.item{
	width:70px;
	height:70px;
	margin: 20px auto 20px auto;
	background: #565856;
}
.avatarItems{
	float:left;
	width:500px;
	outline:1px solid #000;
	min-height:500px;
	background: #383A38;
	opacity: 0.8;
	color:white;
	overflow: hidden;
}
.avatarItems .header{
	opacity: 0.8;
	color:white;
}
.avatarItems .header .item{
	margin:10px;
}

.avatarItems .par{
	
	color:#c0c0c0;
}
.avatarItems .personalItems{
	float:right;
	width:20%;
}
.avatarItems .avatarImg{
	display: inline-block;
	width:60%;
	height:70%;
	text-align: center;
}
.avatarItems .avatarImg img{
	width:60%;
	margin-top: 20px;
}
.avatarItems .profitItems{
	float:left;
	display: inline-block;
	width:20%;
}






.avatarCharacter{
	float:right;
	width:500px;
	min-height:500px;
	overflow: hidden;
}

.avatarCharacter .header{
	height:80px;
	background: #171817;
	opacity: 0.9;
	color:white;
	overflow: hidden;
}
.avatarCharacter .header p{
	margin-left: 50px;
	font-size: 20px;
}
.avatarCharacterContent{
	background: #313231;
	opacity: 0.8;
	color:white;
}
.avatarCharacterContent table td{
	padding:15px 20px 15px 20px;
}







.charackter{
	overflow: hidden;
	text-align: center;
}
.charPar{
	min-height: 300px;
	width:300px;
	background: #000;
}
.charPar .header{
	width:100%;
	height:60px;
	background: #171817;
	opacity: 0.9;
	color:white;
	overflow: hidden;	
}
.charPar  .header p{
	margin-left: 0px;
	font-size: 16px;
}
.charackter .charackterContent{
	float:right;
	background-color: #242524;
	color:#c0c0c0;
}
.charackterContentContent{
	height:500px;
}

.charackter .skills{
	display: inline-block;
	background-color: #242524;
	color:#c0c0c0;
}
.charackter .achievements{
	float:left;
	display: inline-block;
	background-color: #242524;
	color:#c0c0c0;
}
/*.registrationContent p{
	margin:50px 0 50px 0;
}*/